<div class="text-center">

  <nav class="bg-gray-700 p-4">
    <div class="flex justify-between items-center">
      <div class="text-white font-bold">My App</div>

      <button id="mobile-menu-button" (click)="toggleMenu()" class="text-white lg:hidden">
        ☰
      </button>

      <div class="hidden lg:flex space-x-4">
        <a routerLink="home" class="text-white">Home</a>
        <a routerLink="aboutus" class="text-white">About us</a>
        <a routerLink="contactus" class="text-white">Contact us</a>
        <a routerLink="login" class="text-white">Login</a>
      </div>
    </div>
  </nav>

  <div id="mobile-menu" class="lg:hidden hidden bg-blue-500 text-white p-4 space-y-4">
    <a routerLink="home" class="block">Home</a>
    <a routerLink="aboutus" class="block">About us</a>
    <a routerLink="contactus" class="block">Contact us</a>
    <a routerLink="login" class="block">Login</a>
  </div>


  <router-outlet></router-outlet>
</div>